.heading  {
    color: white;
    -webkit-text-stroke: red 1px;
    font-weight: bold;
    font-size: 45px;
    font-family: 'Exo 2';
    position: absolute;
    text-transform: uppercase;
    font-style: italic;
    line-height: 2px;
}

.bg img   {
    background-size: auto;
}

a:link  {
    text-decoration: none;
    color: red;
    -webkit-text-stroke: black 1px;
    font-size: 30px;
    font-style: normal;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

header  {
    background-color: black;
    border-bottom: 3px solid white;
}